<?xml version="1.0" encoding="UTF-8" ?>
<ConfigParams>
	<ProductRoot>/opt/Sagacity/todoapp</ProductRoot>
	<ServerConfigParams>
		<ServerWebServicePort>8080</ServerWebServicePort>
	</ServerConfigParams>
	<LogConfigParams>
		<LogDir>/opt/Sagacity/todoapp/logs/server_logs/</LogDir>
		<LogFileNamePrefix>server.log</LogFileNamePrefix>
		<LogFile>/opt/Sagacity/todoapp/logs/server_logs/server.log</LogFile>
		<LogLevel>DEBUG</LogLevel>
		<LogFileSize>20971520</LogFileSize>
		<LogMaxFiles>10</LogMaxFiles>
	</LogConfigParams>
	<MysqlDBConfigParams>
		<DBName>todoappdb</DBName>
		<DBServerName>localhost</DBServerName>
		<DBServerPort>3306</DBServerPort>
		<!--ConnectionString>root:Welcome@123@tcp(localhost:3306)/todoappdb?parseTime=true</ConnectionString-->
		<!--ConnectionString>root:@tcp(192.168.1.10:3306)/todoappdb?parseTime=true</ConnectionString-->
		<ConnectionString>root:@tcp(localhost:3306)/todoappdb?parseTime=true</ConnectionString>
	</MysqlDBConfigParams>
</ConfigParams>
